.project-heading {
    text-align: center;
    padding: 10px 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom:50px;
}

.project-card {
    background:#1a1919;
    padding: 10px;
}

.project-card img {
    width: 100%;
}

.project-title {
    color: #fff;
    padding: 5px 0;
}

.pro-details p {
    padding-bottom: 20px;
    font-size: 15px;
    text-align: justify;
}

.pro-btns {
    padding-bottom: 10px;
}

@media screen and  (max-width: 480px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}